# Configure Atlas API access -- see https://docs.atlas.mongodb.com/configure-api-access/
ATLAS_API_PUBLIC_KEY=[your_public_api_key]
ATLAS_API_PRIVATE_KEY=[your_private_api_key]

# Atlas Cluster
ATLAS_GROUP_ID=[your_atlas_project_id]
ATLAS_REGION="US_EAST_1"   # change as desired
CLUSTER_NAME="game-main" # do not change -- has to match Realm app > services > mongodb-atlas > config.json > "config.clusterName"

# Configure AWS CLI access -- see https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_access-keys.html
# Notes:
# 1. You will need to make a MANA request for an IAM role
# 2. Your AWS user needs to define a permission policy that allow the following S3 actions:
#    CreateBucket, ListBucket, GetObject, PutObject
AWS_ACCESS_KEY_ID=[your_aws_access_key]
AWS_SECRET_ACCESS_KEY=[your_aws_secret_access_key]
AWS_REGION=[aws_region_for_bucket]   # should match $ATLAS_REGION

# S3 bucket
S3_BUCKET_PREFIX="e2e-player-activity"